body{
  margin: 0%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  .navbar__brand {
    width: 5rem;
    padding-left: 2%;
    margin: 0%;
    
  }
  .menu{
    list-style: none;
    display: flex;
    margin-right:0% ;;
  }
  .background_box {
    margin-left: 5%;
    height:100%;
    width: 95%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    background: linear-gradient(
        to left,
        #C8DCE6 0%, 
        #B6CCDA 100%
      );
    border-radius: 2.5rem 0rem 0rem 2.5rem;
    

  }
  .menu li {
    height: 2.4rem;
    margin: 1rem;
    padding: 0rem 1rem;
    display: flex;
    letter-spacing: 0.1rem;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
  .menu li:hover{
    background-color: white;
    background-position: right center;
    border-radius: 2rem;
    color: #B6CCDA;
    transition:  0.2s;
    cursor: pointer;
  }
  .navbar__search__and__basket{
    display: flex;
    align-items: center;
    padding-right: 2rem;
    
  }
  .navbar__search , .navbar__line , .navbar__basket{
    padding: 1rem;
    
  }
  .navbar__search{
    position: relative;
    display: flex;
    width: 15rem;
    height: 1rem;
    background: #d0dee7;
    border-radius: 4rem;
    align-items: initial;
    color: white;
  }
  ::placeholder{
    color: white;
  }
  input{
    background: transparent;
    border: 0rem;
    outline: 0rem;
    width: 20rem;
    color: white;
}
.sidebar{
  position: relative;
  height: 100%;
  width: 5%;
  position: fixed;
  padding: 2rem 1rem;
}

.menu_sidebar_logo{
  position: relative;
  padding-right: 2%;
}

 .social__media__icons{
  position: relative;
  bottom: 1rem; 
  padding-top: 30rem;
}
.hero__container {
  display: flex; 
  padding-left: 5rem; 
}


.hero__image {
  position: relative;
  width: 22rem;
  top: 3.5rem;
}
.container {
  padding-right: 2rem;
  align-items: center;
}

.watch_color_variation{
  display: flex;
  padding-left: 10rem;  
}
.color_variants{
  padding: 1rem;
}
.colours{
  padding-top: 11rem;
  padding-left: 0rem;
  height: 9rem;
}
.hero__image{
  padding-left: 15rem;
}
.hero__text {
  position: relative;
  width: 38rem;
  height: 10rem;
  left: 1rem;
  top: 3rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-size: 4rem;
  line-height: 3.5rem;
  letter-spacing: 0.02rem;
  color: #FFFFFF;
  
}
.hero__description{
  display: block;
  

}
.button__primary {
  position: relative;
  width: 10rem;
  height: 3rem;
  margin-top: 5rem;
  padding: 0.1rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3rem;
  color: white;
  border-radius: 3rem;
  border-color: white;
  background-color:#B6CCDA; 
  border-style: solid;

}
.button__primary:hover{
  cursor: pointer;

}
.page__indicator{
  position: relative;
  top: 8rem;
}